/* || General Styles */
:root {
  --primary-color: white;
  --secondary-color: lightgray;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* || Navigation Bar */

.nav-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--secondary-color);
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

.nav-link .active {
  text-decoration: underline;
}

/* || Home Page */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-img {
  width: 50%;
}

/* || About Page */

/* || Menu Page */

/* || Reservations Page */

/* || Contact Page */

/* || Footer */

.footer {
  margin-top: auto;
  height: max(5vh, 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
