/* || General Styles */
:root {
  --primary-color: white;
  --secondary-color: lightgray;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content > div {
  margin: 1rem 5vw;
}

/* || Navigation Bar */

.nav-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--secondary-color);
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

.nav-link .active {
  text-decoration: underline;
}

/* || Home Page */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}

.home-img {
  place-self: center;
  width: 100%;
}

.book-table {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(-1rem, -1rem);
  background-color: var(--secondary-color);
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
}

.book-table:hover {
  background-color: var(--primary-color);
}

.description {
  text-align: center;
}

.location-hours-container {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  gap: 1rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 2rem;
}

.location-hours-container h3 {
  margin-top: 0;
}

.location-container,
.hours-container {
  text-align: center;
}

.divider {
  background-color: var(--primary-color);
}

/* || About Page */

/* || Menu Page */

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}

.menu-item-container {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 1rem;
  min-height: 10rem;
  border-radius: 10px;
  padding: 1rem;
}

.item-name {
  justify-self: start;
  align-self: end;
  grid-row: 1;
  grid-column: 2;
}

.item-img {
  align-self: center;
  width: 200px;
  height: 200px;
  object-fit: cover;
  grid-row: span 3;
}

.item-description {
  justify-self: start;
  align-self: center;
  grid-row: 2;
  grid-column: 2;
}

.item-price {
  justify-self: start;
  grid-row: 3;
  grid-column: 2;
}

/* || Reservations Page */

/* || Contact Page */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  border-radius: 20px;
  width: fit-content;
  background-color: var(--secondary-color);
}

textarea {
  resize: none;
}

iframe {
  border: none;
}

/* || Footer */

.footer {
  margin-top: auto;
  height: max(5vh, 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
